body{
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
}
h1{
    font-size: 50px;
}
.orange-color{
    color: orangered;
}
.flexible-container{
    display: flex;
    
}
.half-width{
    width: 50%;
    padding-left: 5%;
}
.half-width img{
    width: 80%;
}
.link-button{
    text-decoration: none;
    /* background-color: orangered; */
    background-image: linear-gradient(orange,red);
    color: white;
    padding: 8px 30px;
    border-radius: 5px;
}
.top-banner{
    background-image: url(images/top-banner.png);
    background-repeat: no-repeat;
}
.dream-big{
    background-image: url(images/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;
    background-size: 18em;
}
.dream-big img{
    height: 900px;
    width: auto;
    padding-left: 400px;
}
.experience-area{
    background-image: url(images/exp-bg.png);
    background-repeat: no-repeat;
    background-size: 10em;
    margin-bottom: 100px;
}
.experience-item{
    border-radius: 10px;
    box-shadow: 10px 10px 20px gray;
    width: 40%;
    margin-left: 5%;
    margin-right: 5%;
    padding-left: 20px;
}
#ex-dev{
    border-left: 10px solid;
    border-image: linear-gradient(blue,cyan);
    border-image-slice: 1;
}
#noob-dev{
    border-left: 10px solid;
    border-image: linear-gradient(purple,red);
    border-image-slice: 1;
}
footer p{
    text-align: center;
    font-size: 1.2em;
}